@font-face {
  font-family: rexlia;
  src:  url('fonts/rexlia/rexlia.woff2') format('woff2'),
        url('fonts/rexlia/rexlia.woff') format('woff'),
        url('fonts/rexlia/rexlia.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
.my-site-title{
    font-family: rexlia;
    font-size: 4.4em;
    margin-bottom: 30px;
}
.my-site-description{
    font-family: Georgia, serif;
    font-size: 1.3em;
    font-style: italic;

}
.my-top-container{
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
}
.my-top-navigation{
    background-color: yellow;
}
.my-top-navigation a{
    background-color: none;
    text-transform: uppercase;
    font-family: "Helvetica W01", Arial, Sans-serif;
    font-weight: bold;
    letter-spacing: 0.16em;
    color: #F9F8F6;
    display: inline-block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}


/* Configurações para a barra de navegação superior */
.affix {
    top: 0;
    width: 100%;
}
.affix + .container-fluid {
    padding-top: 0px;
}
.navbar{
    z-index: 100;
}

/* Modificação para mostrar a faixa escura atrás do título no slider */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    right: 0px;
    left: 0px;
    padding-top: 0px;
}


/* Configurações do rodapé */
footer{
    margin-top: 70px;
    background-color: #EDEFF1;
    border-top: 2px solid #DDDDDD;
}
footer ul{
    list-style-type: none;
        padding-left: 0;
}
footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer-bottom{
    background-color: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}